@font-face {
  font-family: "Pacifica-W00-Condensed";
  src: url("fonts/6849614c-986c-45b1-a1a7-39c891759bb9.woff") format("woff");
}
@font-face {
  font-family: "Droid-Serif-W01-Regular";
  src: url("fonts/83ae2051-dcdd-4931-9946-8be747a40d00.woff") format("woff");
}
@font-face {
  font-family: "GlacialIndifference-Regular";
  src: url("fonts/GlacialIndifference-Regular.otf") format("truetype");
}
